  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Domains Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
<include href="{{@STATSINCLUDE}}" />
      <!-- /.row -->
      <div class="row">
        <div class="col-lg-6 col-xs-12">
          <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Latest Logins</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <div class="table-responsive">
                    <table class="table no-margin">
                      <thead>
                      <tr>
                        <th>When</th>
                        <th>IP</th>
                        <th>Account</th>
                      </tr>
                      </thead>
                      <tbody>
<repeat group="{{@LOGINS}}" value="{{@l}}">
                      <tr>
                        <td>{{ '{0,date}',strtotime(@l.loginDate) | format }} {{ '{0,time}',strtotime(@l.loginDate) | format }}</td>
                        <td>{{ @convIP(@l.loginIP) }}</td>
                        <td>{{@l.userEmail}}</td>
                      </tr>
</repeat>
                      </tbody>
                    </table>
                  </div>
                  <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                  <a href="/admin/logins" class="btn btn-sm btn-default btn-flat pull-right">View All Logins</a>
                </div>
                <!-- /.box-footer -->
              </div>
		</div>
        <div class="col-lg-6 col-xs-12">
          <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Latest Changes</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <div class="table-responsive">
                    <table class="table no-margin">
                      <thead>
                      <tr>
                        <th>Domain</th>
                        <th>User</th>
                        <th>Action</th>
                      </tr>
                      </thead>
                      <tbody>
					<repeat group="{{@LATESTLOGS}}" value="{{@lg}}">
                      <tr>
                        <td>{{@lg.domainName}}</td>
                        <td>{{@lg.userEmail}}</td>
                        <td>{{@lg.action}}: {{@lg.record}}</td>
                      </tr>
					</repeat>
                      </tbody>
                    </table>
                  </div>
                  <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                  <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All Log Changes</a>
                </div>
                <!-- /.box-footer -->
              </div>
		</div>
	  </div>

    </section>
    <!-- /.content -->
  </div>